:root {
    --wine: #732001;
    --dark-whine: #511600;
    --dark-orange: #A85102;
    --skin-color: #F1BB76;
    --orange: #F1A104;
    --yellow: #F0B504;
    --white: #FFF;
    --black: #000;
}

.Lombo-Recheado-com-farofa-presunto-e-queijo-1-hex { color: #F0B504; }
.Lombo-Recheado-com-farofa-presunto-e-queijo-2-hex { color: #F1A104; }
.Lombo-Recheado-com-farofa-presunto-e-queijo-3-hex { color: #F1BB76; }
.Lombo-Recheado-com-farofa-presunto-e-queijo-4-hex { color: #A85102; }
.Lombo-Recheado-com-farofa-presunto-e-queijo-5-hex { color: #732001; }
