/* Color Theme Swatches in Hex */
@import url(colors.css);

nav {
  overflow: hidden;
  background-color: var(--wine);
  color: var(--white);
  height: 8vh;
}

nav .container-fluid,
nav .row {
  height: 100%;
}

nav ul.nav-menu {
  list-style-type: none;
  display: flex;
  justify-content: space-evenly;
}

nav ul.nav-menu a {
  color: rgb(255, 255, 255);
}

nav ul.nav-menu a:hover {
  color: rgb(255, 255, 255);
  border-bottom: 1px solid rgb(255, 255, 255);
  transition: 0.8s;
}



header {
  height: 92vh;
  background-image: url(../images/Pizza.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: center;
  box-sizing: border-box;
}

header h1 {
  margin: 0;
}

.box-header {
  max-width: 400px;
  background-color: var(--wine);
  padding: 60px 50px;
  box-sizing: border-box;
  height: fit-content;
  margin-top: 20px;
}

.box-header h1 {
  color: white;
  font-size: 22px;
  border-bottom: 1px solid white;
}

.box-header p {
  color: white;
  font-weight: 300;
  line-height: 140%;
}

.box-header a {
  text-decoration: none;
  color: white;
  font-weight: 300;
  border: 1px solid white;
  padding: 12px;
  transition: all 0.3s;
}

.box-header a:hover {
  color: #732001;
  background-color: white;
  letter-spacing: 1px;
  transition: all 0.5s;
}
.receitas-title {
  text-align: center;
  text-transform: uppercase;
}

.receitas-box {
  text-align: center;
  font-size: 20px;
}

.receitas-box svg {
  width: 100px;
}

.receitas-box h3 {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 17px;
  margin-top: 4px;
}

.receitas-box p {
  font-size: 14px;
}

.receitas-icon--food {
  margin-top: 26px;
  margin-bottom: 20px;
  fill: var(--skin-color);
}

section.comidas-tipicas {
  background-image: url(../images/Cristo-rj.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: center;
  height: 70vh;
}

div.comidas-box {
  color: var(--white);
    text-align: center;
    width: 76vh;
    font-weight: bold;
    height: 25vh;
    background-color: rgba(39, 184, 147, 0.5);
    border-radius: 20px;
}

div.comidas-box a {
  text-decoration: none;
  color: white;
  font-weight: 300;
  border: 1px solid white;
  padding: 12px;
  transition: all 0.3s;
  font-size: 15px;
  text-transform: uppercase;
}

div.comidas-box a:hover {
  color: #732001;
  background-color: white;
  letter-spacing: 1px;
  transition: all 0.5s;
}

div.comidas-box p {
  font-size: 16px;
  font-weight: 600;
  color: rgb(255, 255, 255);
}
div.comidas-box h2 {
  font-weight: bolder;
  font-size: 27px;
}

footer {
  background-color: var(--wine);
  color: white;
}

footer .footer-title {
  text-transform: uppercase;
  font-size: 28px;
  font-weight: bold;
  margin: 0;
}

footer .footer-subtitle {
  margin-top: 5px;
  font-size: 16px;
  font-weight: 300;
}

footer .footer-text {
  font-size: 14px;
  font-weight: 300;
  margin: 30px 0px;
}

footer .footer-menu {
  list-style: none;
  padding: 0;
  margin-top: 5px;
  margin-bottom: 30px;
}

footer .footer-highlight {
  margin: 0;
}

footer .footer-menu a {
  text-transform: unset;
  color: white;
  text-decoration: none;
  font-weight: 300;
}

footer .footer-menu a:hover {
  border-bottom: 1px solid white;
}

footer .footer-icons {
  margin: 0;
  cursor: pointer;
}

footer .footer-icons img {
  width: 30px;
  margin-right: 5px;
  display: inline-block;
}

footer .footer-form input {
  width: 80%;
  color: white;
  font-family: "Raleway", sans-serif;
  display: block;
  background: transparent;
  border: none;
  border-bottom: 1px solid white;
  padding: 10px 5px;
  margin-bottom: 10px;
  font-size: 14px;
  font-weight: 300;
}

::placeholder {
  color: white;
}

footer .footer-form textarea {
  width: 80%;
  max-width: 80%;
  color: white;
  font-family: "Raleway", sans-serif;
  display: block;
  background: transparent;
  border: none;
  border-bottom: 1px solid white;
  padding: 10px 5px;
  margin-bottom: 10px;
  font-size: 14px;
  font-weight: 300;
}

footer .btn-footer {
  background: none;
  padding: 12px 30px;
  text-transform: uppercase;
  text-decoration: none;
  color: white;
  font-weight: 300;
  border: 1px solid white;
  transition: all 0.3s;
}

footer .btn-footer:hover {
  cursor: pointer;
  color: #732001;
  background-color: white;
  letter-spacing: 1px;
  transition: all 0.5s;
}

.copy {
  overflow: hidden;
  padding: 0;
  height: 9vh;
  color: white;
  background: var(--dark-whine);
}

div.copy .row {
  height: 100%;
  align-items: center;
}

div.copy .copy-text {
  text-align: center;
  margin: 0;
  font-weight: 300;
}
